html {
  font-size: 18px;
}

h2,
h3,
h4,
h5 {
  @apply mb-2 text-gray-900;
}

h2 {
  @apply text-3xl mt-6;
}

h3 {
  @apply text-xl font-bold mt-8;
}

h4 {
  @apply text-base font-bold font-sans mt-6;
}

p {
  @apply mb-4;
}

ul {
  @apply list-disc;
}

li {
  @apply list-inside pl-4;
}

strong {
  @apply font-bold;
}

a {
  @apply underline text-indigo-700;
}

a:visited {
  @apply text-black;
}

code {
  @apply bg-gray-200 text-sm px-1;
}

dt {
  @apply font-bold;
}

dd {
  @apply mb-4;
}
